
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.second-color {
    background-color: #a6c88c;
}

.font-italic {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

.font-italic-title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.font-italic-input {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

/* Стилове за тъмен тогълер */
.custom-dark-toggler {
    color: #000; /* Цвят на иконата и текста */
    border-color: #000; /* Цвят на границата (ако има такава) */
}

.card-img-top-home {
    object-position: center;
    object-fit: cover
; /* Запазва съотношението на страните и прави изображението изпълващо цялата област на картата */
    height: 300px; /* Можете да промените този размер според вашите нужди */
}

.card-img-top-add {
    object-fit: cover; /* Запазва съотношението на страните и прави изображението изпълващо цялата област на картата */
    height: 500px; /* Можете да промените този размер според вашите нужди */
}

.card-img-top-details {
    object-fit: cover; /* Запазва съотношението на страните и прави изображението изпълващо цялата област на картата */
    height: 400px; /* Можете да промените този размер според вашите нужди */
}



.bg-image {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bg-image-add {
    background-image: url('/images/old-paper-sheet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.bg-image-details{
    background-image: url('/images/old-sheet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.card-description {

    height: 70px; /* Можете да промените този размер според вашите нужди */
}



