<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head.html}"/>
<body class="d-flex flex-column min-vh-100">
<header th:include="~{fragments/nav-and-footer/nav}"/>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="/images/main-dishes.jpg" class="card-img-top" alt="recipe1">
        <div class="card-body">
          <h5 class="card-title">Main Dishes</h5>
          <p class="card-text">Delicious recipes for hearty main dishes. Explore a variety of flavors and cuisines to satisfy your appetite.</p>
          <a href="#" class="btn btn-dark text-white">View Recipes</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="/images/desserts.jpg" class="card-img-top" alt="recipe2">
        <div class="card-body">
          <h5 class="card-title">Desserts</h5>
          <p class="card-text">Indulge your sweet tooth with our delectable dessert recipes. From cakes to cookies, satisfy your dessert cravings.</p>
          <a href="#" class="btn btn-dark text-white">View Recipes</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="/images/baking.jpg" class="card-img-top" alt="recipe3">
        <div class="card-body">
          <h5 class="card-title">Baking</h5>
          <p class="card-text">Discover the art of baking with our collection of baking recipes. From bread to pastries, elevate your baking skills.</p>
          <a href="#" class="btn btn-dark text-white">View Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:include="~{fragments/nav-and-footer/footer}"/>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>