<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head.html}"/>
<th:block th:include="~{fragments/nav-and-footer/nav}"/>
<body class="d-flex flex-column justify-content-xl-evenly min-vh-100">

<section class="mt-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="/images/recipe-book.jpg"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form th:method="post"
                      th:action="@{/users/login}">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h1 class="text-center fw-bold mb-3">Sign in</h1>

                    </div>



                    <div class="mb-4">

                        <div class="g-3 align-items-center">
                            <div class="col-auto">
                                <label for="inputUsername6" class="col-form-label">Your Username</label>
                            </div>
                            <div class="col-auto">
                                <input name="username"
                                       th:value="${username}"
                                       type="text" id="inputUsername6" class="form-control" aria-describedby="usernameHelpInline">
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="g-3 align-items-center">
                            <div class="col-auto">
                                <label for="inputPassword6" class="col-form-label">Your Password</label>
                            </div>
                            <div class="col-auto">
                                <input name="password"
                                       type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                            </div>

                        </div>
                    </div>
                    <p class="errors alert alert-danger" th:if="${bad_credentials}">
                        Invalid username or password.
                    </p>


                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" id="remember-me"
                                   name="remember-me"/>
                            <label class="form-check-label" for="remember-me">
                                Remember me
                            </label>
                        </div>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-outline-dark btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                            <a th:href="@{/users/register}" class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<th:block th:include="~{fragments/nav-and-footer/footer}"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>